# Toàn bộ project: cto-approvers phải review
*                       @htv-org-devops/cto-approvers

# Terraform modules & environments (ưu tiên cao nhất)
modules/                @htv-org-devops/cto-approvers
environments/           @htv-org-devops/cto-approvers
*.tf                    @htv-org-devops/cto-approvers

# Ansible playbooks
ansible/                @htv-org-devops/cto-approvers

# GitHub Actions workflows
.github/workflows/      @htv-org-devops/cto-approvers
.github/CODEOWNERS      @htv-org-devops/cto-approvers
