# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
.terraform.lock.hcl

# Ansible vault
ansible/group_vars/all/vault.yml
*.retry

# SSH Keys (không bao giờ commit key)
*.pem
*.key
server_key*
github_key*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Env files
.env
*.env
