# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json

# Ansible
*.retry
ansible/group_vars/all/vault.yml

# SSH Keys
*.pem
*.key
id_rsa*
id_ed25519*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
*.env
