[Interface]
Address    = 10.8.0.1/24
PrivateKey = {{ lookup('file', '/etc/wireguard/privatekey') }}

[Peer]
# DB Server VM 8888
PublicKey   = {{ db_wg_pubkey }}
Endpoint    = 172.199.10.180:51820
AllowedIPs  = 10.8.0.2/32
PersistentKeepalive = 25
