[Interface]
Address     = 10.8.0.2/24
ListenPort  = 51820
PrivateKey  = {{ lookup('file', '/etc/wireguard/privatekey') }}

[Peer]
# EC2 sẽ connect tới DB server
PublicKey   = {{ ec2_wg_pubkey }}
AllowedIPs  = 10.8.0.1/32
